.pseudo_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: $primary-bg;
}
.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  max-width: $wrapper-max-width;
}
.main_unit {
  flex: 1 1 auto;
  padding: 25px;
  background-color: $primary-color;
}
.content_main_unit {
  display: flex;
  flex-direction: column;
}
